/* src/styles/styles.css */

body {
  font-family: 'EB Garamond', serif;
}

/* styles.css */

.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsif */
  gap: 16px;
}

.item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

img {
  max-width: 100%; /* Gambar tidak lebih dari 100% lebar kontainer */
  height: auto; /* Tinggi otomatis */
}

/* Media Query */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /* Lebar setengah layar di desktop */
  height: 100%; /* Tinggi penuh */
  max-width: 600px; /* Opsional, untuk membatasi lebar maksimum */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease; /* Transisi saat membuka/menutup */
  transform: translateX(100%); /* Mulai dari luar layar (kanan) */
  z-index: 1000; /* Pastikan berada di atas elemen lain */
}

.cart-container.open {
  transform: translateX(0); /* Tampilkan keranjang */
}

.cart-container button {
  font-size: 2rem; /* Ukuran font tombol X */
  background: none; /* Tidak ada latar belakang */
  border: none; /* Tidak ada border */
  cursor: pointer; /* Kursor pointer saat hover */
  color: #4A5568; /* Warna teks */
}

.cart-container button:hover {
  color: #e53e3e; /* Warna saat hover */
}

/* CSS untuk perangkat mobile */
@media (max-width: 768px) {
  .cart-container {
    width: 100%; /* Lebar penuh di perangkat mobile */
  }
}


@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out;
}

/* Styling for the dropdown */
.dropdown {
  position: absolute;
  top: 100%; /* Positioning it below the input */
  left: 0;
  right: 0;
  max-height: 25vh; /* Set the height of the dropdown */
  overflow-y: auto; /* Allow scrolling if the content exceeds the height */
  background-color: white; /* Background of dropdown */
  border-radius: 0.375rem; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for dropdown */
  z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown-item {
  padding: 0.5rem 1rem; /* Padding for dropdown items */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.2s; /* Smooth background change */
}

.dropdown-item:hover {
  background-color: #f1f1f1; /* Background on hover */
}
